<nav>
  <label class="logo">Portfolio</label>

  <ul id="ul">
    <li [routerLinkActive]="'active'">
      <a routerLink="" fragment="home">Home</a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="" fragment="about">About Me</a>
    </li>

    <li [routerLinkActive]="'active'">
      <a routerLink="" fragment="education">Education</a>
    </li>
    <li [routerLinkActive]="'active'">
        <a routerLink="" fragment="skills">Skills</a>
      </li>
      <li [routerLinkActive]="'active'">
        <a routerLink="" fragment="project">Project</a>
      </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="" fragment="contact">Contact</a>
    </li>
  </ul>
</nav>
<app-baner responsive id="home"></app-baner>
<app-personal-information responsive id="about"></app-personal-information>
<div class="container" id="education">
  <app-education responsive></app-education>
  <app-work-experience responsive></app-work-experience>
</div>
<app-skills responsive id="skills"></app-skills>
<app-projects responsive id="project"></app-projects>
<app-contact responsive id="contact"></app-contact>
